/* Start Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  text-align: left;
  color: rgb(70, 41, 15);
  margin: auto;
  margin-top: -2px;
}

#nav-list a {
  text-align: center;
}
#header-nav {
  background-color: #a29f9f;
}

.navbar-header button {
  size: 1.3em;
}

#nav-list li a {
  border: 1px solid black;
  background-color: white;
}

.eachmenu {
  position: relative;
  height: auto;
  background-color: rgb(47, 218, 146);
  float: left;
  border: 1px solid black;
  margin-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
}
.container .eachmenu h3 {
  text-align: center;
  font-size: 15px solid black;
  color: yellow;
}

/* End Header */

/* Start Content */
.container h2 {
  text-align: center;
  margin-bottom: 10px;
  color: skyblue;
}
/* START MD */
@media (min-width: 992px) {
}
/* END MD */

/* START SM */
@media (min-width: 768px) and (max-width: 991px) {
  .eachmenu {
    margin-right: 2%;
  }
}
/* End SM */

/*START XS*/
@media (max-width: 767px) {
}

/* End XS */

/* End Content */
